In [4]:
import pandas as pd
x = pd.Series([100, 200, 300, 400, 500], index =['a', 'b', 'c', 'd', 'e'])
print(x)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [3]:
import pandas as pd
date=pd.date_range(start='05.01.2021',end='05.12.2021')
print(date)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [5]:
import pandas as pd
dict= {
    'Name' : ['Ashitha', 'Greeshma', 'Surya'],
    'Age' : [21, 22, 23],
    'Sex' : ['F', 'F', 'M']
}
dframe = pd.DataFrame(dict)
print(dframe)

       Name  Age Sex
0   Ashitha   21   F
1  Greeshma   22   F
2     Surya   23   M

In [6]:
import pandas as pd

data = [['New York Yankees', 'Acevedo Juan', 900000, 'Pitcher'], 
        ['New York Yankees', 'Anderson Jason', 300000, 'Pitcher'], 
        ['New York Yankees', 'Clemens Roger', 10100000, 'Pitcher'], 
        ['New York Yankees', 'Contreras Jose', 5500000, 'Pitcher']]
df = pd.DataFrame.from_records(data)
print(df)

                  0               1         2        3
0  New York Yankees    Acevedo Juan    900000  Pitcher
1  New York Yankees  Anderson Jason    300000  Pitcher
2  New York Yankees   Clemens Roger  10100000  Pitcher
3  New York Yankees  Contreras Jose   5500000  Pitcher

In [15]:
import pandas as pdf
df=pd.read_csv('textfile.csv')
print(df)

   Rollno      Name
0       1   Ashitha
1       2  Greeshma
2       3     Surya
3       4     Elvin

In [8]:
import pandas as pd
details= {
    'RollNo' : [18, 19, 10, 20],
    'Name' : ['Ashitha', 'Aparna', 'Greeshma', 'Surya'],
    'Marks' : ['100', '80', '70', '89']
}
dataframe = pd.DataFrame(details)
print(dataframe)
print()
print()
print('SORTED DATAFRAME')
print(dataframe.sort_values(by=['RollNo'], ascending=True))

   RollNo      Name Marks
0      18   Ashitha   100
1      19    Aparna    80
2      10  Greeshma    70
3      20     Surya    89


SORTED DATAFRAME
   RollNo      Name Marks
2      10  Greeshma    70
0      18   Ashitha   100
1      19    Aparna    80
3      20     Surya    89

In [9]:
import pandas as pd
details= {
    'RollNo' : [18, 19, 10, 20],
    'Name' : ['Ashitha', 'Aparna', 'Greeshma', 'Surya'],
    'Marks' : ['100', '80', '70', '89']
}
index = {'a', 'b', 'c', 'd'}
df = pd.DataFrame(details, index)
df.reset_index(inplace = True)
print(df)

  index  RollNo      Name Marks
0     c      18   Ashitha   100
1     b      19    Aparna    80
2     a      10  Greeshma    70
3     d      20     Surya    89

In [10]:
import pandas as pd
details= {
    'RollNo' : [18, 19, 10, 20],
    'Name' : ['Anusha', 'Ashitha', 'Greeshma', 'Surya'],
    'Marks' : ['100', '80', '70', '89']
}
df=pd.DataFrame(details)
df1 = df.head(2)
print(df1)

   RollNo     Name Marks
0      18   Anusha   100
1      19  Ashitha    80

In [11]:
import pandas as pd
data= {
    'Name' : ['Anju','Manju','Arun','Ali','Anju'],
    'Occupation':['Doctor','Teacher','Doctor','Teacher','Engineer'],
    'Salary':[20000,18000,45000,50000,40000]
}
df=pd.DataFrame(data)
print(df)
print()
print()
sal_avg= df.groupby('Occupation')['Salary'].mean() 
print(sal_avg)

    Name Occupation  Salary
0   Anju     Doctor   20000
1  Manju    Teacher   18000
2   Arun     Doctor   45000
3    Ali    Teacher   50000
4   Anju   Engineer   40000


Occupation
Doctor      32500.0
Engineer    40000.0
Teacher     34000.0
Name: Salary, dtype: float64

In [12]:
import pandas as pd
import numpy as np
data= {
    'RollNo' : [18, 19, 10, 20,23],
    'Name' : ['Ashitha', 'Anu', 'Greeshma', 'Navya','Anju'],
    'Marks':[np.nan,80,np.nan,np.nan,90]
}
df=pd.DataFrame(data)
print(df)
print()
print()
df_nullfill = df.fillna(0)
print(df_nullfill)

   RollNo      Name  Marks
0      18   Ashitha    NaN
1      19       Anu   80.0
2      10  Greeshma    NaN
3      20     Navya    NaN
4      23      Anju   90.0


   RollNo      Name  Marks
0      18   Ashitha    0.0
1      19       Anu   80.0
2      10  Greeshma    0.0
3      20     Navya    0.0
4      23      Anju   90.0

In [16]:

data= {
    'cname' : ['Wipro','Cognizant','Mphasis','UST'],
    'profit' : [1000000,2000000,-31110,-43000]
}
df=pd.DataFrame(data)
print(df)
print()
print()
df['profit'] = df['profit'].apply(lambda x:x>0)
print(df)

       cname   profit
0      Wipro  1000000
1  Cognizant  2000000
2    Mphasis   -31110
3        UST   -43000


       cname  profit
0      Wipro    True
1  Cognizant    True
2    Mphasis   False
3        UST   False

In [14]:
data1= {
    'eid' : [1001,1002,1003,1004],
    'ename' : ['Anju','Ashi','Greesh','Alis'],
    'stipend' : [10000,20000,13000,15000]
}
data2= {
    'eid' : [1001,1002,1003,1004],
    'designation' : ['senior manager','sales manager','manager','clerk']
}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print()
print()
print(df2)
print()
print()
dataframe = pd.merge(df1, df2, how = 'inner', on = 'eid')
print(dataframe)

    eid   ename  stipend
0  1001    Anju    10000
1  1002    Ashi    20000
2  1003  Greesh    13000
3  1004    Alis    15000


    eid     designation
0  1001  senior manager
1  1002   sales manager
2  1003         manager
3  1004           clerk


    eid   ename  stipend     designation
0  1001    Anju    10000  senior manager
1  1002    Ashi    20000   sales manager
2  1003  Greesh    13000         manager
3  1004    Alis    15000           clerk